VOICE_BASE_URL=
VOICE_MODEL_NAME=
VOICE_API_KEY=
PRD_BASE_URL=
PRD_MODEL_NAME=
PRD_API_KEY=
POC_BASE_URL=
POC_MODEL_NAME=
POC_API_KEY=
CONTRACT_BASE_URL=
CONTRACT_MODEL_NAME=
CONTRACT_API_KEY=
LLM_API_URL=
LLM_MODEL=
LLM_API_KEY=
POC_MODE=
POC_TIMEOUT_SECONDS=
PRD_TIMEOUT_SECONDS=
CONTRACT_TIMEOUT_SECONDS=